Repository tagrew/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taeyh, @tagrew, @shwsrini

testing linking
  apis/userprofile/hello.txt
Owners: @shwsrini

I hope this works!
  apis/user-java/test.txt
Owners: @tagrew

This closes #2
  apis/user-java/test.txt
Owners: @tagrew

initializing branch
  .github/workflows/workflow.yml
Owners: none

adding in build file
  .github/workflows/userJavaBuild.yaml
Owners: none

Setting up GitHub Actions workflow file
  .github/workflows/workflow.yml
Owners: none

fixing build file
  .github/workflows/userJavaBuild.yaml
Owners: none

Added working directory parameter
  .github/workflows/workflow.yml
Owners: none

added uses line
  .github/workflows/workflow.yml
Owners: none

added dotnet sdk setup
  .github/workflows/workflow.yml
Owners: none

checking in template
  .github/workflow/superlinter.yml
  .github/workflow/template.js
  apis/userprofile/package.json
Owners: @shwsrini

Update workflow.yml
  .github/workflows/workflow.yml
Owners: none

adding testing to build file
  .github/workflows/userJavaBuild.yaml
Owners: none

Fixing working directory 2
  .github/workflows/workflow.yml
Owners: none

Changing dotnet version to match poi apis
  .github/workflows/workflow.yml
Owners: none

adding POM file path
  .github/workflows/userJavaBuild.yaml
Owners: none

update dotnet version
  .github/workflows/workflow.yml
Owners: none

Create node.js.yml
  .github/workflows/node.js.yml
Owners: none

workflow aml
  .github/workflow/node.js.yml
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @shwsrini

build file
  package-lock.json
  package.json
Owners: none

buildfile
  .github/workflow/nodejsbuild.yml
  .github/workflow/superlinter.yml
Owners: none

removed package.json
  package.json
Owners: none

buildfile changes
  .github/workflow/nodejsbuild.yml
Owners: none

hope this works!
  .github/workflows/nodejsbuild.yml
Owners: none

breaking a test
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

adding artifact
  .github/workflows/nodejsbuild.yml
Owners: none

reducing versions
  .github/workflows/nodejsbuild.yml
Owners: none

reverting
  .github/workflows/nodejsbuild.yml
Owners: none

breaking test
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

change total distance from 2500f to 1 to break test
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @tagrew

downloading artefact
  .github/workflows/workflow.yml
Owners: none

changing status code
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

fixing test
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @tagrew

conditional trigger to run workflow
  .github/workflows/nodejsbuild.yml
Owners: none

changing test name
  .github/workflows/workflow.yml
Owners: none

testing 1
  .github/workflows/workflow.yml
Owners: none

triggering a build
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

reverting test value
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

trigger
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

testing triggers
  .github/workflows/nodejsbuild.yml
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

.github/CODEOWNERS:

/apis/poi/ @taeyh

/apis/trips/ @taeyh

/apis/user-java/ @tagrew

/apis/userprofile/ @shwsrini
