Repository tagrew/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taeyh, @tagrew, @shwsrini

adding path on push
  .github/workflows/workflow.yml
Owners: none

removing error
  .github/workflows/workflow.yml
Owners: none

trigger
  .github/workflows/nodejsbuild.yml
Owners: none

testing
  .github/workflows/workflow.yml
Owners: none

trigger
  .github/workflows/nodejsbuild.yml
Owners: none

path change
  .github/workflows/workflow.yml
Owners: none

path testing
  .github/workflows/workflow.yml
Owners: none

works
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

approve
  .github/workflows/workflow.yml
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

test 1
  .github/workflows/workflow.yml
Owners: none

test 2
  .github/workflows/workflow.yml
Owners: none

Delete node.js.yml
  .github/workflows/node.js.yml
Owners: none

test3
  .github/workflows/workflow.yml
Owners: none

test4
  .github/workflows/workflow.yml
Owners: none

test5
  .github/workflows/workflow.yml
Owners: none

test6
  .github/workflows/workflow.yml
Owners: none

testing trigger
  .github/workflows/nodejsbuild.yml
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

test7
  .github/workflows/workflow.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

testing triggers
  .github/workflows/nodejsbuild.yml
Owners: none

checking triggers with passing tests
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

triggers with positive tests
  .github/workflows/nodejsbuild.yml
Owners: none

changing workflow file name
  .github/workflows/dotnetworkflow.yml
Owners: none

triggers
  .github/workflows/nodejsbuild.yml
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

trigger paths
  .github/workflows/nodejsbuild.yml
Owners: none

testing issues
  .github/workflows/dotnetworkflow.yml
  apis/poi/issuecontent.md
Owners: @taeyh

breaking test
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

adding assignees & labels
  .github/workflows/dotnetworkflow.yml
  apis/poi/issuecontent.md
Owners: @taeyh

added trips api workflow
  .github/workflows/goworkflow.yml
Owners: none

yaml fix
  .github/workflows/goworkflow.yml
Owners: none

yaml fix 1
  .github/workflows/goworkflow.yml
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @taeyh

Update goworkflow.yml
  .github/workflows/goworkflow.yml
Owners: none

Update goworkflow.yml
  .github/workflows/goworkflow.yml
Owners: none

Update goworkflow.yml
  .github/workflows/goworkflow.yml
Owners: none

adding issues when one of the stages fails
  .github/workflows/userJavaBuild.yaml
  apis/user-java/issuecontent.md
Owners: @tagrew

fixing formating
  .github/workflows/userJavaBuild.yaml
Owners: none

fixing please
  .github/workflows/userJavaBuild.yaml
Owners: none

fixing again vo3
  .github/workflows/userJavaBuild.yaml
Owners: none

you are
  .github/workflows/userJavaBuild.yaml
Owners: none

my fire
  .github/workflows/userJavaBuild.yaml
Owners: none

.github/CODEOWNERS:

/apis/poi/ @taeyh

/apis/trips/ @taeyh

/apis/user-java/ @tagrew

/apis/userprofile/ @shwsrini
