Repository tagrew/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taeyh, @tagrew, @shwsrini

.github/CODEOWNERS:

/apis/poi/ @taeyh

/apis/trips/ @taeyh

/apis/user-java/ @tagrew

/apis/userprofile/ @shwsrini

my one desire
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

cleansing master
  apis/userprofile/tests/healthcheck/user.js
Owners: @shwsrini

adding deployment stuff
  .github/workflows/dotnetworkflow.yml
Owners: none

fixing password
  .github/workflows/dotnetworkflow.yml
Owners: none

adding dockerfile path
  .github/workflows/dotnetworkflow.yml
Owners: none

fixing docker command
  .github/workflows/dotnetworkflow.yml
Owners: none

fixing context
  .github/workflows/dotnetworkflow.yml
Owners: none

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @taeyh

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @taeyh

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @taeyh

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @taeyh

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @taeyh

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none

Update dotnetworkflow.yml
  .github/workflows/dotnetworkflow.yml
Owners: none
